table{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-color: darkgray;
	text-align: center;
}
p{
	font-size: 60;
	color : white
}

td{
	background-color: white;
	width: 40;
	height: 40;
	text-align:center;
	font-size: 30;
	font-weight: 800;
}

img{
	width:40;
	height:40;
}
